[Unit]
Description=CPU usage report

[Service]
ExecStart=/usr/bin/python3 /home/paramont/CPU_usage/cpuUsage.py
Restart=always

[Install]
WantedBy=multi-user.target
